{# Extends the base template, inheriting its structure and resources. #}
{% extends 'base.html' %}
{# Sets the title of the page dynamically based on the context variable 'title'. #}
<title>{{ title }}</title>

{% block custom_css %}
    {# Placeholder for additional CSS specific to this template. #}


{% endblock custom_css %}

{% block content %}
    {# Main content block for displaying user details. #}
   <div class="bg-light border rounded border-5 p-3" style="border: 5px solid rgba(0, 0, 0, 0.25);">
        <div id='currentDetails' class="container">
            {# Displays the username, full name, and the date the user joined. #}
            <h1>User ID: {{ user.username }}</h1>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p class="fs-3">Date joined: {{ user.date_joined }}</p>
            {# Button for requesting permissions, shown conditionally based on user permissions. #}
            {% if perms.newsapp.add_article %}
                <a class="btn btn-info" href="{% url 'req_perm' %}">Request Permissions</a>
            {% endif %}
        </div>
   </div>
{% endblock content %}